html,
body {
    /* The image used */
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
}

#grad-class {
    min-height: height: 100%;
}


#grad-title {
    color: black;
}

.content-box {
    height: 100%;
}

.content-title h3 {
    font-size: 56px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}
