html,
body {
    /* The image used */
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
}

#project-cover {
    background-image: url(../img/home2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}


.content-title h3 {
    font-size: 56px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.project-icon i {
    color: #000;
    float: left;
    padding: 15px;
    margin-right: 25px;
    height: 75px;
    width: 75x;
    text-align: center;
}

.project:hover .project-icon i {
    color: #fff;
    background-color: #000;
}

.project-title h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project-desc p {
    margin: 0;
    padding-left: 85px;
}
