html,
body {
    font-family: 'Sawarabi Gothic', sans-serif;
}

.navbar {
    padding: 15px 0 15px 0;
    color: white;
}

.navbar-nav {
    color: white;
}

#cgst-menu {
    color: white
}

.navbar-nav > a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .nav-link a {
    color: white;
}

.cgst-navbar {
    background: rgba(0, 0, 0, 0.7);
    padding: 7px 0;
}

/*Animations*/

header.masthead {
    animation-delay: 0.1s;
    animation-duration: .5s;
}

.a-heading {
    animation-delay: 0.5ss;
    animation-duration: 0.5s;
}
