html,
body {
    /* The image used */
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
}

.president-cover {
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.president-cover {
    padding-top: 50px;
}

#pres-content {
    padding-top: 20px;
}
